*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	width: 95%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-family: Noto Sans;
}
.second{
	width: 100%;
	height: 80vh;
	display: grid;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.div-block1{
	display: grid;
	text-align: center;
	border: 5px solid grey;
	padding: 15px;
	background: #373737;
	/*opacity: 0.8;*/
}
.div-block2{
	display: grid;
	text-align: center;
	border-top: 5px solid grey;
	border-bottom: 5px solid grey;
	padding: 15px;
	background: #373737;
	/*opacity: 0.8;*/
}
.div-block3{
	display: grid;
	text-align: center;
	border: 5px solid grey;
	padding: 15px;
	background: #373737;
	/*opacity: 0.8;*/
}
.div-block2{
	display: grid;
}
.div-block3{
	display: grid;
}
.img-radius{
	display: flex;
	justify-self: center;
	border-radius: 50%;
	width: 200px;
	transition: transform 1s ease-out;

}
p{
	font-size: 23px;
	text-align: left;
	color: white;
}
.h1-block{
	color: white;
}
.img-radius:hover{
	border: 5px solid grey;
	/*transform: scaleX(0.5);
	transform: scale(2);
  transform: scaleY(2);
  transform: scale(0.5);
  transform: scale(0.5, 2);
*/
transform: scale(1.3);
}
}element:hover {
 
}